{% extends "base.html" %}


{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Basque<span style="font-family: 'Playball'">FX</span></h1>
                        <p class="intro-text">Forex Trading Journal, Blog, & Analysis</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-4x fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About This Site</h2>
                <p>BasqueFX serves several purposes. The first is to gain experience with python. This site was built using Django and a postgres database. I plan to add other features to this site. It really all depends on what I decide to learn next. BasqueFx is essentially a place for me to display my python projects. The second is that I want a place to store and display thoughts on the forex markets.</p>
                <p>I have a Masters Degree in Economics so naturally I find the forex markets interesting. Specifically fundamental analysis. I find technical trading to be robotic and unsatisfying. I need to point out that I have very limited experience with forex trading. This is a place for me to store my ideas. If you happen to stumble across my site, please do not use anything I say in your trading. I'm not giving out trading advice, I'm just recording my thoughts.</p>
            </div>
        </div>
    </section>

     <!-- Forex Section -->
    <section id="forex" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Forex</h2>
                    <p>Coming soon...</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Feel free to email me to provide some feedback on the blog, or the website, or to just say hello.</p>
                <p><a href="mailto:basquefx@gmail.com">basquefx@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="twitter.com/basquefx" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/basqueinmyglory" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/basqueinmyglory/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p></p>
        </div>
    </footer>

    

{% endblock %}
